<div id="card-articles">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="line-top">
                        <div class="row justify-content-md-center">
                            <h2 class="col-md-10 col-lg-11">Artigos (para pacientes)</h2>
                            <a class="col-md-2 col-lg-1">Veja mais</a>
                            <div class="col-md-10">
                                <div class="row justify-content-md-center">
                                    <div class="col-lg-4">
                                        <img src="/assets/img/oftalmo-exem.jpeg" class="avatar">
                                        <h3> Artigo 1</h3>
                                        <p>Morbi a metus. Phasellus enim erat, 
                                                vestibulum vel, aliquam a, posuere 
                                                eu, velit. Nullam sapien sem, ornare 
                                                ac, nonummy non, lobortis 
                                                a, enim. Nunc tincidunt ante vitae massa. 
                                                Duis ante orci, molestie vitae, 
                                                vehicula venenatis, tincidunt ac, pede.</p>
                                        <a class="read-more">leia mais</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="/assets/img/oftalmo-exem.jpeg" class="avatar">
                                        <h3> Artigo 2</h3>
                                        <p>Morbi a metus. Phasellus enim erat, 
                                                vestibulum vel, aliquam a, posuere 
                                                eu, velit. Nullam sapien sem, ornare 
                                                ac, nonummy non, lobortis 
                                                a, enim. Nunc tincidunt ante vitae massa. 
                                                Duis ante orci, molestie vitae, 
                                                vehicula venenatis, tincidunt ac, pede.</p>
                                        <a class="read-more">leia mais</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="/assets/img/oftalmo-exem.jpeg" class="avatar">
                                        <h3> Artigo 3</h3>
                                        <p>Morbi a metus. Phasellus enim erat, 
                                                vestibulum vel, aliquam a, posuere 
                                                eu, velit. Nullam sapien sem, ornare 
                                                ac, nonummy non, lobortis 
                                                a, enim. Nunc tincidunt ante vitae massa. 
                                                Duis ante orci, molestie vitae, 
                                                vehicula venenatis, tincidunt ac, pede.</p>
                                        <a class="read-more">leia mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>